<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <%- include('./common/_top-header') %>
      <%- include('./parts/_c-btn',{text:'works', link:'#'}) %>
    <%- include('./common/_footer') %>
  </body>
</html>
